.container{
            background-color: lightseagreen;
            height: 300px;
            width: 300px;
            padding: 10px;
            border-radius: 5px;
            flex-direction: row-reverse;
        }
        .item{
            background-color: aquamarine;
            height: 50px;
            width: 60px;
            margin: 10px;
            font-size: 20px;
            border-radius: 10px;
            border: solid 1px white;
            padding: 5px;
        }
    
        .containers{
            background-color: lightseagreen;
            height: 300px;
            width: 300px;
            padding: 10px;
            border-radius: 5px;
            display: flex;
        }
        .items{
            background-color: aqua;
            height: 20px;
            width: 50px;
            margin: 5px;
            padding: 5px;
            font-size: 20px;
            border-radius: 10px;
            border: solid 1px white;
            flex-direction: row;
        }

    